@page "/"
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <link rel="stylesheet" href="css/font/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>منوی قهوه لومِن</title>
    <style>
        /* Global Styles */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        @@font-face {
            font-family: 'Sahel';
            src: url('/fonts/Sahel.ttf') format('truetype');
        }

        div {
            position: relative;
        }

        container {
            position: relative;
            width: 80%; /* Adjust as needed */
            margin: auto;
            display: inline-block;
        }

        .background-image {
            width: 100%;
            display: block;
            border-radius: 20px;
            margin-bottom: 40%;
            aspect-ratio: 5/3;
        }

        .overlay-box {
            z-index: 100;
            position: absolute;
            width: 80%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.9); /* Slightly darker opacity */
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            border: 2px solid red;
            background-color: rgba(255, 0, 0, 0.5);
        }

        .item-title {
            font-size: 22px;
            font-weight: bold;
            color: #333;
        }

        .item-description {
            font-size: 16px;
            color: #555;
            margin-top: 5px;
        }

        .item-price {
            font-size: 18px;
            font-weight: bold;
            color: #c0392b;
            margin-top: 8px;
        }




        body {
            font-family: Arial, sans-serif;
            font-family: Sahel;
            background-color: #f5f5f5;
            color: #4a4a4a;
            line-height: 1.6;
            scroll-behavior: smooth;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
        /* Header - Video Background Section */
        header {
            position: relative;
            height: 70vh;
            width: 100%;
            overflow: hidden;
        }

            header video {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                z-index: -1;
                width: inherit;
            }

        .hero-overlay {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: rgba(0, 0, 0, 0.3);
            padding: 20px;
        }

            .hero-overlay img.logo {
                width: 150px;
                margin-bottom: 20px;
            }

            .hero-overlay h1 {
                font-size: 3em;
                color: #fff;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .hero-overlay p.tagline {
                font-size: 1.2em;
                color: #f5f5f5;
            }

        /* Category Slider */
        .category-slider {
            overflow-x: auto;
            white-space: nowrap;
            background: #fafafa;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
            transition: all 0.3s ease;
            scroll-behavior: smooth;
            display: flex;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
        }

            .category-slider.sticky {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

        .category-container {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 20px;
            gap: 10px;
        }

        .insta-button {
            border: black;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 1em;
            font-weight: 800;
            cursor: pointer;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            flex: 0 0 auto;
            transition: background-color 0.3s, transform 0.3s, border 0.3s;
            background-color: #FFBE98;
        }

        .category-tag {
            background-color: white;
            border: black;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 1em;
            font-weight: 800;
            cursor: pointer;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            flex: 0 0 auto;
            transition: background-color 0.3s, transform 0.3s, border 0.3s;
        }

            .category-tag.active {
                transform: scale(1.05);
                background-color: #FFBE98;
            }

        @@media (max-width: 600px) {
            .category-tag {
                min-width: 120px;
            }
        }


        /* Menu Sections */
        .menu-section {
            /* padding: 40px 20px; */
            background-color: #fafafa;
        }

            .menu-section h2 {
                text-align: center;
                font-size: 2.5em;
                margin-bottom: 30px;
                color: #a79c94;
            }
        /* Instead of a grid, we now use a vertical list */
        .menu-grid {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 1200px;
            margin: 0 auto;
        }
        /* New layout for each menu item */
        .menu-card {
            display: flex;
            align-items: center;
            padding: 10px 0;
            margin-bottom: 10px;
            background: transparent;
            border: none;
            box-shadow: none;
            background-size: cover;
            background-position: center;
            margin-bottom: 90px;
        }

            .menu-card img {
                border-radius: 20px;
                width: 86%;
                height: auto;
                margin-right: 7%;
                aspect-ratio: 6/3;
            }

        .menu-details {
            z-index: 100;
            position: absolute;
            width: 60%;
            background-color: rgba(255, 255, 255, 0.9); /* Slightly darker opacity */
            bottom: -40%;
            left: 50%;
            transform: translateX(-50%);
            /* text-align: center; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            background-color: white;
            aspect-ratio: 7/3;
            /* flex: 1;
                                    direction: rtl;
                                    text-align: right;
                                    img {

                                    } */
        }

        .menu-item-title {
            margin-left: auto;
            font-size: 16px;
            color: black;
            margin-bottom: 8px;
            font-weight: 800;
        }

        .menu-item-desc {
            margin-left: auto;
            color: #333;
            font-size: 11px;
            margin-bottom: 5px;
            font-weight: 100;
            float: right;
        }

        .menu-item-price {
            font-size: 14px;
            margin-left: auto;
            font-weight: bold;
            color: #333;
        }

        /* Footer */
        footer {
            text-align: center;
            padding: 20px 0;
            background-color: #fafafa;
            color: #777;
            font-size: 0.9em;
        }

        /* Scroll-to-Top Button (icon only) */
        #scrollToTop {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #a79c94;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 1001;
            display: none;
            font-size: 1.5em;
            line-height: 1;
        }
    </style>

</head>
<body>
    <!-- Hero Video Section -->
    <header>
        <video autoplay loop muted playsinline>
            <source src="video/init.mp4" type="video/mp4">
            مرورگر شما از تگ ویدیو پشتیبانی نمی‌کند.
        </video>
        <div class="hero-overlay">
            <img src="img/MPLogo.png" alt="لوگوی لومِن" class="logo">
            @* <h1>قهوه لومِن</h1>
            <p class="tagline">جایی که هر جرعه، درخشش خاص خود را دارد</p> *@
            <a class="insta-button" style="margin-top:30vh !important" href="https://www.instagram.com/lumen.caferoastery?igsh=OW5vc3d6dHNoN3Ry">
                <i class="fa-brands fa-instagram" style="font-size: x-large;vertical-align: top;"></i>
                follow us
            </a>
            @* <button style="color: white;padding:5px;border-radius:5px;width:30%;background-color: #FFBE98;font-weight:bold;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);">follow us</button> *@
        </div>
    </header>

    <!-- Category Slider -->
    <div class="category-slider" style="padding-top:24px;padding-bottom:24px;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);" id="categorySlider">
        <div class="category-container">
            <div class="category-tag" data-target="hotcoffee">قهوه گرم <img src="img/hotcoffee.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="coldcoffee">قهوه سرد <img src="img/icecoffee.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="brewcoffee">قهوه دمی <img src="img/brewcoffee.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="breakfast">صبحانه <img src="img/breakfast.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="snack">میان وعده <img src="img/snack.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="mocktail">ماکتل <img src="img/mocktail.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="hotdrink">نوشیدنی گرم <img src="img/hotdrink.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="shake">شیک <img src="img/shake.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="smoothie">اسموتی <img src="img/smoothie.png" style="width:25px;float:left"></div>
            <div class="category-tag" data-target="tea">چای دمنوش <img src="img/tea.png" style="width:25px;float:left"></div>
        </div>
    </div>

    <!-- Menu Sections for each Category -->
    <div id="menu">
        <!-- قهوه گرم Section -->
        <section id="hotcoffee" class="menu-section">
            <div class="menu-grid">

                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">اسپرسو</div>
                        <div class="menu-item-desc">طعم اسپرسوی خالص و قوی.</div>
                        <div class="menu-item-price">تجاری : 80 تومان</div>
                        <div class="menu-item-price">تخصصی : 90 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="اسپرسو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">اسپرسو کن پانا</div>
                        <div class="menu-item-desc">شات قدرتمند از اسپرسوی غنی.</div>
                        <div class="menu-item-price">تجاری : 98 تومان</div>
                        <div class="menu-item-price">تخصصی : 109 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="اسپرسو کن پانا">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">اسپرسو چاکلت</div>
                        <div class="menu-item-desc">تعادل عالی از قدرت و عطر.</div>
                        <div class="menu-item-price">تجاری : 95 تومان</div>
                        <div class="menu-item-price">تخصصی : 105 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="اسپرسو چاکلت">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">آمریکانو</div>
                        <div class="menu-item-desc">ملایم و غلیظ، مناسب دوستداران اصلی.</div>
                        <div class="menu-item-price">تجاری : 80 تومان</div>
                        <div class="menu-item-price">تخصصی : 90 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="آمریکانو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">پیکولو</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 98 تومان</div>
                        <div class="menu-item-price">تخصصی : 108 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="پیکولو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">کاپوچینو</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 103 تومان</div>
                        <div class="menu-item-price">تخصصی : 113 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="کاپوچینو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">لاته</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 106 تومان</div>
                        <div class="menu-item-price">تخصصی : 116 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="لاته">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">کارامل ماکیاتو</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 112 تومان</div>
                        <div class="menu-item-price">تخصصی : 122 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="کارامل ماکیاتو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">موکا</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 112 تومان</div>
                        <div class="menu-item-price">تخصصی : 122 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="موکا">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">کوکو چوکو</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 117 تومان</div>
                        <div class="menu-item-price">تخصصی : 127 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="کوکو چوکو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">سینمون دولچه لاته</div>
                        <div class="menu-item-desc">طعم عمیق و غنی برای انرژی فوری.</div>
                        <div class="menu-item-price">تجاری : 117 تومان</div>
                        <div class="menu-item-price">تخصصی : 127 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="سینمون دولچه لاته">
                </div>
            </div>
        </section>

        <!-- قهوه سرد Section -->
        <section id="coldcoffee" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای آمریکانو -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">آیس آمریکانو</div>
                        <div class="menu-item-desc">اسپرسو رقیق‌شده برای طعمی ملایم.</div>
                        <div class="menu-item-price">تجاری : 86 تومان</div>
                        <div class="menu-item-price">تخصصی : 96 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="آیس آمریکانو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">آیس لاته</div>
                        <div class="menu-item-desc">گرم و دلنشین با طعمی آرام.</div>
                        <div class="menu-item-price">تجاری : 112 تومان</div>
                        <div class="menu-item-price">تخصصی : 122 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="آیس لاته">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">آیس کارامل ماکیاتو</div>
                        <div class="menu-item-desc">کلاسیک و دلپذیر، مناسب برای هر زمان.</div>
                        <div class="menu-item-price">تجاری : 118 تومان</div>
                        <div class="menu-item-price">تخصصی : 128 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="آیس کارامل ماکیاتو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">آیس موکا</div>
                        <div class="menu-item-desc">ترکیب غنی با پس‌طعمی قوی.</div>
                        <div class="menu-item-price">تجاری : 118 تومان</div>
                        <div class="menu-item-price">تخصصی : 128 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="آیس موکا">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">آفوگاتو</div>
                        <div class="menu-item-desc">مقدمه‌ای ملایم برای اسپرسوی ما.</div>
                        <div class="menu-item-price">تجاری : 108 تومان</div>
                        <div class="menu-item-price">تخصصی : 118 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="آفوگاتو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">اورنج کافی</div>
                        <div class="menu-item-desc">مقدمه‌ای ملایم برای اسپرسوی ما.</div>
                        <div class="menu-item-price">تجاری : 125 تومان</div>
                        <div class="menu-item-price">تخصصی : 135 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="اورنج کافی">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">فراپاچینو اسپشیال</div>
                        <div class="menu-item-desc">مقدمه‌ای ملایم برای اسپرسوی ما.</div>
                        <div class="menu-item-price">تجاری : 149 تومان</div>
                        <div class="menu-item-price">تخصصی : 159 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="فراپاچینو اسپشیال">
                </div>
            </div>
        </section>

        <!-- قهوه دمی Section -->
        <section id="brewcoffee" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای لاته -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">فیلتر کافی</div>
                        <div class="menu-item-desc">شیر بخارپز شده با اسپرسوی کامل.</div>
                        <div class="menu-item-price">تخصصی : 85 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="فیلتر کافی">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">ترک</div>
                        <div class="menu-item-desc">ملایم، لطیف و دلنشین.</div>
                        <div class="menu-item-price">تخصصی : 68 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="ترک">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">کلد برو</div>
                        <div class="menu-item-desc">ترکیب هماهنگ اسپرسو و شیر بخارپز.</div>
                        <div class="menu-item-price">تخصصی : 120 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="کلد برو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">V60</div>
                        <div class="menu-item-desc">بافت مخملینی با طعمی غنی.</div>
                        <div class="menu-item-price">تخصصی : 180 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="V60">
                </div>
            </div>
        </section>



        <!-- صبحانه Section -->
        <section id="breakfast" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای کاپوچینو -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">املت گودا</div>
                        <div class="menu-item-desc">ترکیبی متعادل از شیر بخارپز و اسپرسو.</div>
                        <div class="menu-item-price">135 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="املت گودا">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">بیکن تخم مرغ</div>
                        <div class="menu-item-desc">ترکیب دلپذیر از اسپرسو غنی و کف سبک.</div>
                        <div class="menu-item-price">180 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="بیکن تخم مرغ">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">سیمیت</div>
                        <div class="menu-item-desc">سبک، کف‌دار و پر از شخصیت.</div>
                        <div class="menu-item-price">110 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="سیمیت">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">گرانولا</div>
                        <div class="menu-item-desc">یک لذت کلاسیک با نت‌های غنی اسپرسو.</div>
                        <div class="menu-item-price">165 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="گرانولا">
                </div>
            </div>
        </section>

        <!-- میان وعده Section -->
        <section id="snack" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای موکا -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">پنینی مرغ و خردل</div>
                        <div class="menu-item-desc">ترکیب بی‌نظیر شکلات و اسپرسو.</div>
                        <div class="menu-item-price">210 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="پنینی مرغ و خردل">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">پنینی وجی اسموکی</div>
                        <div class="menu-item-desc">طعم موکای غنی با پایان مخملین.</div>
                        <div class="menu-item-price">180 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="پنینی وجی اسموکی">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">پنینی بوقلمون پستو</div>
                        <div class="menu-item-desc">یک خوراک دکادنت و لذیذ شکلاتی.</div>
                        <div class="menu-item-price">195 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="پنینی بوقلمون پستو">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">رپ مرغ و سبزیجات</div>
                        <div class="menu-item-desc">طعم قوی و صاف که رضایت‌بخش است.</div>
                        <div class="menu-item-price">135 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="رپ مرغ و سبزیجات">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">رپ ژامبون با سس دست ساز</div>
                        <div class="menu-item-desc">ترکیبی مغرور از خامه و قهوه.</div>
                        <div class="menu-item-price">115 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="رپ ژامبون با سس دست ساز">
                </div>
            </div>
        </section>

        <!-- ماکتل Section -->
        <section id="mocktail" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای کولد برو -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">جینجر لیموناد</div>
                        <div class="menu-item-desc">خونسرد شده برای طعمی ترد و تازه.</div>
                        <div class="menu-item-price">90 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="جینجر لیموناد">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">اسپشیال پیچ</div>
                        <div class="menu-item-desc">ملایم و آرامبخش برای روزهای گرم.</div>
                        <div class="menu-item-price">155 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="اسپشیال پیچ">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">بلو راش</div>
                        <div class="menu-item-desc">طعم ملایم و خنک برای انرژی تازه.</div>
                        <div class="menu-item-price">165 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="بلو راش">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">دتاکس واتر</div>
                        <div class="menu-item-desc">ترکیبی جسورانه برای یک شروع مدرن.</div>
                        <div class="menu-item-price">90 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="دتاکس واتر">
                </div>
            </div>
        </section>

        <!-- نوشیدنی گرم Section -->
        <section id="hotdrink" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای فراپه -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">شیرین ثعلب</div>
                        <div class="menu-item-desc">قهوه یخ زده مخلوط با کمی خامه.</div>
                        <div class="menu-item-price">89 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="شیرین ثعلب">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">شیر پسته زعفران</div>
                        <div class="menu-item-desc">یخ زده، خامه‌ای و بی نهایت دلچسب.</div>
                        <div class="menu-item-price">99 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="شیر پسته زعفران">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">هات چاکلت</div>
                        <div class="menu-item-desc">مخلوطی دلنشین از قهوه و حس تابستانی.</div>
                        <div class="menu-item-price">95 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="هات چاکلت">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">وایت چاکلت</div>
                        <div class="menu-item-desc">صاف، خنک و کاملاً روح‌بخش.</div>
                        <div class="menu-item-price">95 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="وایت چاکلت">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">لومن چاکلت</div>
                        <div class="menu-item-desc">نمونه‌ای عالی برای یک بعدازظهر آفتابی.</div>
                        <div class="menu-item-price">105 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="لومن چاکلت">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">ماسالا</div>
                        <div class="menu-item-desc">نمونه‌ای عالی برای یک بعدازظهر آفتابی.</div>
                        <div class="menu-item-price">95 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="ماسالا">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">چای لته</div>
                        <div class="menu-item-desc">نمونه‌ای عالی برای یک بعدازظهر آفتابی.</div>
                        <div class="menu-item-price">89 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="چای لته">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">ماچا لته</div>
                        <div class="menu-item-desc">نمونه‌ای عالی برای یک بعدازظهر آفتابی.</div>
                        <div class="menu-item-price">120 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="ماچا لته">
                </div>
            </div>
        </section>

        <!-- شیک Section -->
        <section id="shake" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای ویژه -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">دبی چاکلت</div>
                        <div class="menu-item-desc">ترکیبی منحصر به فرد برای شما.</div>
                        <div class="menu-item-price">176 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="دبی چاکلت">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">پرو شیک</div>
                        <div class="menu-item-desc">طعم‌های غنی و پیچیده با نوآوری‌های جدید.</div>
                        <div class="menu-item-price">176 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="پرو شیک">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">اسنیکرز</div>
                        <div class="menu-item-desc">با علاقه و خلاقیت منحصر به فرد تهیه شده است.</div>
                        <div class="menu-item-price">164 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="اسنیکرز">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">بری بوست</div>
                        <div class="menu-item-desc">یک تغییر متفاوت در طعم‌های کلاسیک.</div>
                        <div class="menu-item-price">164 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="بری بوست">
                </div>
            </div>
        </section>
        <!-- اسموتی Section -->
        <section id="smoothie" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای ویژه -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">فرش پاپ</div>
                        <div class="menu-item-desc">ترکیبی منحصر به فرد برای شما.</div>
                        <div class="menu-item-price">150 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="فرش پاپ">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">سان بری</div>
                        <div class="menu-item-desc">طعم‌های غنی و پیچیده با نوآوری‌های جدید.</div>
                        <div class="menu-item-price">170 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="سان بری">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">بری وایب</div>
                        <div class="menu-item-desc">با علاقه و خلاقیت منحصر به فرد تهیه شده است.</div>
                        <div class="menu-item-price">210 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="بری وایب">
                </div>
            </div>
        </section>

        <!-- چای دمنوش Section -->
        <section id="tea" class="menu-section">
            <div class="menu-grid">
                <!-- ۵ مورد برای ویژه -->
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">چای کوکی</div>
                        <div class="menu-item-desc">ترکیبی منحصر به فرد برای شما.</div>
                        <div class="menu-item-price">75 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="چای کوکی">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">چای سبز</div>
                        <div class="menu-item-desc">طعم‌های غنی و پیچیده با نوآوری‌های جدید.</div>
                        <div class="menu-item-price">80 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="چای سبز">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">چای وانیل</div>
                        <div class="menu-item-desc">با علاقه و خلاقیت منحصر به فرد تهیه شده است.</div>
                        <div class="menu-item-price">95 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="چای وانیل">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">چای آرامش</div>
                        <div class="menu-item-desc">یک تغییر متفاوت در طعم‌های کلاسیک.</div>
                        <div class="menu-item-price">95 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="چای آرامش">
                </div>
                <div class="menu-card  item-wrapper container">
                    <div class="menu-details">
                        <div class="menu-item-title">دمنوش لومن</div>
                        <div class="menu-item-desc">مخصوص عاشقان طعم‌های خارق‌العاده.</div>
                        <div class="menu-item-price">110 تومان</div>
                    </div>
                    <img src="img/coffee.jpg" alt="دمنوش لومن">
                </div>
            </div>
        </section>

    </div>
    <!-- Footer -->
    <footer style="background-color:#FFBE98;color:white">
        <div style="text-align:right">
            <p style="float:right;padding-right:10px;width:100%"><img src="img/location.png" style="width:20px"> آدرس : بلوار فردوس شرق, خیابان ابراهیمی, کوچه پنجم </p>
            <a href="tel:+989126023218" style="float:right;padding:10px;width:100%">
                <img src="img/phonecall.png" style="width:20px"> 09126023218
            </a>
            <br />
            <p style="float:right;padding:10px;width:100%"><img src="img/clock.png" style="width:20px"> 6 صبح الی 24 </p>
        </div>
        <br />
        <div style="text-align:left">
            &copy; ۲۰۲۵ قهوه لومِن. کلیه حقوق محفوظ است.
        </div>

    </footer>

    <!-- Scroll-to-Top Button (up arrow icon only) -->
    <button id="scrollToTop" style="background-color:#FFBE98"><img src="img/up.png" style="width:25px"></button>

    <!-- JavaScript for Sticky Slider, Active Tag Highlighting & Auto-Scroll, and Scroll-to-Top -->
    <script>

                window.addEventListener('resize', () => {
            observer.disconnect(); // Stop observing
            document.querySelectorAll('.menu-section').forEach(section => observer.observe(section));
        });
                function updateActiveTag() {
            document.querySelectorAll('.menu-section').forEach(section => {
                const rect = section.getBoundingClientRect();
                if (rect.top >= 0 && rect.top <= window.innerHeight / 2) {
                    document.querySelectorAll('.category-tag').forEach(tag => tag.classList.remove('active'));
                    const activeTag = document.querySelector(`.category-tag[data-target="${section.id}"]`);
                    if (activeTag) activeTag.classList.add('active');
                }
            });
        }
        window.addEventListener('scroll', updateActiveTag);
        window.addEventListener('resize', updateActiveTag);



        // Handle sticky category slider and scroll-to-top button visibility
        window.addEventListener('scroll', () => {
          const heroHeight = document.querySelector('header').offsetHeight;
          const categorySlider = document.getElementById('categorySlider');
          const scrollTopBtn = document.getElementById('scrollToTop');

          if (window.scrollY >= heroHeight) {
            categorySlider.classList.add('sticky');
          } else {
            categorySlider.classList.remove('sticky');
          }

          if (window.scrollY >= 600) {
            scrollTopBtn.style.display = "block";
          } else {
            scrollTopBtn.style.display = "none";
          }
        });

        // Smooth scroll on category tag clicks
        document.querySelectorAll('.category-tag').forEach(tag => {
          tag.addEventListener('click', () => {
            const targetId = tag.getAttribute('data-target');
            const targetSection = document.getElementById(targetId);
            if (targetSection) {
              targetSection.scrollIntoView({ behavior: 'smooth' });
            }
          });
        });

        // Scroll-to-top button functionality
        document.getElementById('scrollToTop').addEventListener('click', () => {
          window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        // Intersection Observer for active category tag highlighting and auto-scroll in slider
        const sections = document.querySelectorAll('.menu-section');
        // const observerOptions = { threshold: 0.5 };
        const observerOptions = { threshold: [0.25, 0.5, 0.75] }; // Try multiple thresholds
        const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              document.querySelectorAll('.category-tag').forEach(tag => tag.classList.remove('active'));
              const activeTag = document.querySelector(`.category-tag[data-target="${entry.target.id}"]`);

              if (activeTag) {
                activeTag.classList.add('active');
                setTimeout(() => { // Delay to avoid sudden jumps
                  activeTag.scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'nearest' });
                }, 100);
              }
            }
          });
        }, observerOptions);

        document.querySelectorAll('.menu-section').forEach(section => observer.observe(section));

    </script>
</body>
</html>